@model IEnumerable<Admin.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    table, th, td {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr {
        text-align: left;
        padding: 10px;
    }

    th {
        text-align: center;
        padding: 10px;
    }

    tr:hover {
        background-color: #ddd;
        cursor: pointer;
    }
</style>

<h2><center>Quản lý đơn hàng</center></h2>

<table class="table">
    <tr>
        <th>Mã đơn hàng</th>
        <th>Tên khách hàng</th>
        <th>Tên sản phẩm</th>
        <th>Hình ảnh</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th>Ngày đặt hàng</th>
        <th>Tổng tiền</th>
        <th>Phương thức thanh toán</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MaDH
            </td>
            <td>
                @item.TENKH
            </td>
            <td>
                @item.SanPham.TenSP
            </td>
            <td>
                <img class="image" id="imgPre" src="~/Assests/img/@item.SanPham.ImagePath" style='width: 150px; height: 150px'>
            </td>
            <td>
                @item.DiaChi
            </td>
            <td>
                @item.PHONE
            </td>
            <td>
                @item.ORDERDATE
            </td>
            <td>
                @item.TongTien
            </td>
            <td>
                @item.PhuongThucThanhToan
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDH })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MaDH })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.MaDH })
            </td>
        </tr>
    }
</table>
