@model Admin.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa sản phẩm: @Model.TenSP</h2>
<hr />
<h3>Bạn có thực sự muốn xóa sản phẩm này không?</h3>
<hr />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="font-size: 1.5rem">
            @Html.ActionLink("Quay lại quản lý sản phẩm", "Index")   | <input type="submit" style="font-size: 1.5rem" value="Delete" class="btn btn-default" />
        </div>
    }

    <dl class="dl-horizontal">

        <dt>Hình ảnh</dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>Tên sản phẩm</dt>
        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>Nhãn hiệu</dt>
        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoaiSP)
        </dd>

        <dt>Số lượng</dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>Kích cỡ</dt>
        <dd>
            @Html.DisplayFor(model => model.SIZE)
        </dd>

        <dt>Đơn giá</dt>
        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>Mô tả</dt>
        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>
</div>