@model IEnumerable<Admin.Models.SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    table, th, td {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr {
        text-align: left;
        padding: 10px;
    }

    th {
        text-align: center;
        padding: 10px;
    }

    tr:hover {
        background-color: #ddd;
        cursor: pointer;
    }
</style>

<h1><center>Quản lý sản phẩm</center></h1>
<p>
    <a asp-action="Create" href="@Url.Action("Create")"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:20px">Thêm sản phẩm  </i></a>
</p>
<table class="table">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Hình ảnh</th>
        <th>Tên sản phẩm</th>
        <th>Nhãn hiệu</th>
        <th>Số lượng</th>
        <th>Kích cỡ</th>
        <th>Đơn giá</th>
        <th>Mô tả</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MaSP
            </td>
            <td>
                <img class="image" id="imgPre" src="~/Assests/img/@item.ImagePath" style='width: 150px; height: 150px'>
            </td>
            <td>
                @item.TenSP
            </td>
            <td>
                @item.LoaiSanPham.TenLoaiSP
            </td>
            <td>
                @item.SoLuong
            </td>
            <td>
                @item.SIZE
            </td>
            <td>
                @item.DonGia
            </td>
            <td>
                @item.MoTa
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSP })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MaSP })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSP })
            </td>
        </tr>
    }
</table>

